@model IEnumerable<MVCWebAssignment1.Models.FamilyGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Family Groups</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Details",new { id = item.FamilyGroupId })';return false;">Details</button>
            </td>
        </tr>
    }
</table>
<button class="btn btn-success" onclick="location.href='@Url.Action("Create")';return false;">New Family Group</button>

